/*! theme.css for alchemyindesign.com | Leban Hyde. 2012. | MIT License */

body {
  color: #464646;
  background-image: url("../img/main-bg.jpg");
}

a {
  text-decoration: none;
  color: #F4AA00;
}

/*
 * Distinguishes nav from body copy.
 */

nav {
  font-family: 'OswaldBook', "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

i,
cite,
em,
var,
address,
dfn,
blockquote,
q {
  font-family: 'LiberationSerifItalic', serif;
  font-style: normal;
}

textarea,
[type='text'],
[type='email'] {
  border-width: .1rem;
  border-style: solid;
  border-color: #464646;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


button,
[type='submit'] {
  border: none;
  background-color: #464646;
  color: #ffffff;
}

textarea:focus,
[type='text']:focus,
[type='email']:focus {
  outline: none;
  border-color: #F4AA00;
}

button:hover,
[type='submit']:hover,
button:focus,
[type='submit']:focus {
  background-color: #F4AA00;
  outline: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background: #F4AA00;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #F4AA00;
    color: #ffffff;
    text-shadow: none;
    color: white;
}



/* ==========================================================================
   Layout
   ========================================================================== */

.l-footer {
    border-top-style: solid;

    /*IE*/border-top-width: 15px;
    border-top-width: .75rem;
}

.l-header {
  background-color: #464646;
}
  .l-header * {
    color: #ffffff;
  }



/* ==========================================================================
   Modules
   ========================================================================== */

.logo {
  /*IE*/margin-top: 4px;

  margin-top: .2rem;
  background-image: none,url('../img/logo.svg'), url('../img/logo.png');
  background-image: url('../img/logo.png')\9;
  background-repeat: no-repeat;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}


.logo-ftr {}
  .logo-ftr > a {
    color: #464646;
  }
  .logo-ftr > a:hover {
    text-decoration: none;
    color: #F4AA00;
  }

.nav\+ftr {
  background-color: #464646;
}
  .nav\+ftr a {
    color: #ffffff;
  }

.hero\+home {
  background-image: url('../img/hero-home.png');
  background-position: 100% 30%;
}

.hero\+about {
  background-image: url('../img/hero-about.png');
  background-position: 100% 0%;
}

.hero\+notes {
  background-image: url('../img/hero-notes.png');
  background-position: 100% 0%;
}

.hero\+contact {
  background-image: url('../img/hero-contact.png');
  background-position: 100% 0%;
}

.hero\+work {
  background-image: url('../img/hero-work.png');
  background-position: 100% 0%;
}

.hero\+404 {
  background-image: url('../img/hero-404.png');
  background-position: 100% 0%;
}

  .gallery > li:hover,
  .gallery > li:active {
    border-color: #F4AA00;
  }

.hr,
.hrt { border-top-color: #464646; }

.hrb { border-bottom-color: #464646; }

.box-example {
  border-top-color: #c7c7c7;
  border-bottom-color: #c7c7c7;
  background-color: #f3f3f3;
}

.box-aside {
  border-left-color: #c7c7c7;
  color: #818181;
}



/* ==========================================================================
   Media Queries | §Light, §Extra-Light, §Condensed | For 768- screen size 
   ========================================================================== */

@media only screen and (max-width: 767px) {

  .hero {
    background-position: 100% 40%;
  }

  .nav\+main {
    background-color: #464646;
  }
    .nav\+main a {
      color: #ffffff;
    }

  }


