/* ==========================================================================
   Grid System
   ========================================================================== */



/* .l-row
   ========================================================================== */

/**
 * For containers containing .l-col's
 * Uses Micro Clearfix to clear floats
 * See below
 */

.l-row {
  @include border-box;
  @extend .cf;
  margin-right: -.625em;
  margin-left: -.625em;
}



/* .l-col
   ========================================================================== */

.l-col,
.l-col-r {
  @include border-box;
  padding-right: .625em;
  padding-left: .625em;
}

/**
 * Sets default as left-to-right float layout
 */

.l-col {
  float: left;
}

/**
 * Reverses layout
 */

.l-col-r {
  float: right;
}

.l-col--no-gutter {
  padding-left: 0;
  padding-right: 0;
}



/* 3-Column
   ========================================================================== */

.l-col--1of3 {
  width: 33.333%;
}

.l-col--2of3 {
  width: 66.666%;
}

.l-col--3of3 {
  width: 100%;
}



/* 7-Column
   ========================================================================== */

.l-col--1of7 {
  width: 14.285%;
}

.l-col--2of7 {
  width: 28.57%;
}

.l-col--3of7 {
  width: 42.855%;
}

.l-col--4of7 {
  width: 57.14%;
}

.l-col--5of7 {
  width: 71.425%;
}

.l-col--6of7 {
  width: 85.71%;
}

.l-col--7of7 {
  width: 100%;
}



/* 10-Column
   ========================================================================== */

.l-col--1of10 {
  width: 10%;
}

.l-col--2of10 {
  width: 20%;
}

.l-col--3of10 {
  width: 30%;
}

.l-col--4of10 {
  width: 40%;
}

.l-col--5of10 {
  width: 50%;
}

.l-col--6of10 {
  width: 60%;
}

.l-col--7of10 {
  width: 70%;
}

.l-col--8of10 {
  width: 80%;
}

.l-col--9of10 {
  width: 90%;
}

.l-col--10of10 {
  width: 100%;
}



@media only screen and (max-width: 48em) {

  /**
   * one-column fluid layout
   */

  .l-col--1of3,
  .l-col--2of3,
  .l-col--3of3,
  .l-col--1of7,
  .l-col--2of7,
  .l-col--3of7,
  .l-col--4of7,
  .l-col--5of7,
  .l-col--6of7,
  .l-col--7of7,
  .l-col--1of10,
  .l-col--2of10,
  .l-col--3of10,
  .l-col--4of10,
  .l-col--5of10,
  .l-col--6of10,
  .l-col--7of10,
  .l-col--8of10,
  .l-col--9of10,
  .l-col--10of10 {
    width: 100%;
  }
}


