/**
 * Colors, images, and assets specific to this website build.
 */

/**
 * Table of Contents:
 *
 * 1.0 Import Rules
 *   1.1 Base Rules
 *   1.2 Layout Rules
 *   1.3 Module Rules
 *   1.4 State Rules
 *   1.5 Vendor Rules
 */

/* 1.1 Base Rules
   -------------------------------------------------------------------------- */

@font-face {
  font-family: 'permanent_markerregular';
  src: url('../fonts/PermanentMarker-webfont.eot');
  src: url('../fonts/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PermanentMarker-webfont.woff') format('woff'),
       url('../fonts/PermanentMarker-webfont.ttf') format('truetype'),
       url('../fonts/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sansbook';
  src: url('../fonts/DejaVuSans-webfont.eot');
  src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DejaVuSans-webfont.woff') format('woff'),
       url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
       url('../fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sansoblique';
  src: url('../fonts/DejaVuSans-Oblique-webfont.eot');
  src: url('../fonts/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DejaVuSans-Oblique-webfont.woff') format('woff'),
       url('../fonts/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
       url('../fonts/DejaVuSans-Oblique-webfont.svg#dejavu_sansoblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sansbold';
  src: url('../fonts/DejaVuSans-Bold-webfont.eot');
  src: url('../fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
       url('../fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sansbold_oblique';
  src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot');
  src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
       url('../fonts/DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
       url('../fonts/DejaVuSans-BoldOblique-webfont.svg#dejavu_sansbold_oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu_sans_monobook';
  src: url('../fonts/DejaVuSansMono-webfont.eot');
  src: url('../fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DejaVuSansMono-webfont.woff') format('woff'),
       url('../fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
       url('../fonts/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: #ffffff;
  color: #202020;
  font-family: 'dejavu_sansbook', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2 {
  font-family: 'permanent_markerregular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: 'dejavu_sansbold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #f95197;
  &:hover {
    text-decoration: underline;
  }
}

b,
strong {
  font-family: 'dejavu_sansbold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

code {
  font-family: 'dejavu_sans_monobook', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

hr {
  border: none;
  border-top: 2px solid #202020;
  margin: 1.5rem auto;
}

textarea,
[type='email'],
[type='text'] {
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #9a9a9a;
  border-radius: 3px;
}

textarea:focus,
[type='email']:focus,
[type='text']:focus {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #66f1fa;
  outline: none;
}


/**
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #f95197;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #f95197;
  color: #ffffff;
  text-shadow: none;
}

.browserupgrade {
  background: #cccccc;
  color: #000000;
}



/* 1.2 Layout Rules
   -------------------------------------------------------------------------- */

.l-banner {
  border-width: 20px;
  border-style: solid;
  border-color: #ffffff;
}

.l-banner--about {
  background-attachment: fixed;
  background-image: url(../img/hero-about.png);
  background-repeat: no-repeat;
  @include background-size(cover);
}

@media only screen and (max-width: 48em) {
  .l-banner {
    border-width: 15px;
  }
}

@media only screen and (max-width: 30em) {
  .l-banner {
    border-width: 10px;
  }
}



/* 1.3 Module Rules
   -------------------------------------------------------------------------- */

.btn {
  border: 2px solid transparent;
  &:focus {
    outline: none;
  }
}
a.btn {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn--default {
  background-color: transparent;
  border-color: #2e3192;
  color: #2e3192;
  &:hover,
  &:focus {
    background-color: #2e3192;
    border-color: #2e3192;
    color: #ffffff;
  }
}

.btn--callout {
  background-color: #f75284;
  border-color: #f75284;
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: #66f1fa;
    border-color: #66f1fa;
    color: #ffffff;
  }
}

.btn--jump-up {
  background-color: rgba(255,255,255,.4);
  border-color: #2b8aca;
}



[class*='dsp-'] {
  font-family: 'permanent_markerregular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}



.heading-major {}



.ico--21 {
  background: url(../img/ico--21.png) no-repeat;
}

.ico--arrow-up {
  background-position: 0 0;
  &:hover {
    background-position: -21px 0;
  }
}



.nav {
  & > li {
    & > a {
      border-bottom: none;
    }
  }
}

.nav--main {
  & > li {
    & > a {
      color: #202020;
      &:hover,
      &.is-active {
        color: #f95197;
      }
    }
  }
}

@media only screen and (max-width: 30em) {

  .nav--main {
    background-color: #202020;
    & > li {
      & > a {
        color: #ffffff;
      }
    }
  }

}



.picture {
  background-color: #ffffff;
  border: 6px solid #ffffff;
  border-radius: 3px;
  @include box-shadow(0px 0px 1px 0px rgba(113,95,68,.5));
}


.panel {
  border-color: #ffffff;
  border-style: solid;
  border-width: 20px;
}

.panel--skills {
  background-attachment: fixed;
  background-image: url(../img/panel--skills.png);
  background-repeat: no-repeat;
  @include background-size(cover);
}

.panel--process {
  background-attachment: fixed;
  background-image: url(../img/panel--process.png);
  background-repeat: no-repeat;
  @include background-size(cover);
}

.panel--contact {
  background-attachment: fixed;
  background-image: url(../img/panel--contact.png);
  background-repeat: no-repeat;
  @include background-size(cover);
}

@media only screen and (max-width: 48em) {
  .panel {
    border-width: 15px;
  }
}

@media only screen and (max-width: 30em) {
  .panel {
    border-width: 10px;
  }
}



/* 1.4 State Rules
   -------------------------------------------------------------------------- */



/* 1.5 Vendor Rules
   -------------------------------------------------------------------------- */


