    <footer class="l-footer" role="contentinfo">
      <div class="l-constrain">
        <h3 class="is-visually-hidden">
          Site Footer
        </h3>

        <div class="l-row">

          <div class="l-col l-col--6-12">
            <p>
              <small>&copy; 
                <script type="text/javascript">
                  document.write(new Date().getFullYear());
                </script> 
                Alchemy by Leban Hyde.
              </small>
            </p>
          </div>

          <div class="l-col l-col--6-12">
            <h5 class="txt-tight">Social:</h5>

            <ul class="list list+row txt-6">
              <li>
                <a href="https://www.linkedin.com/in/leban-hyde-60858723">LinkedIn</a>
              </li>

              <li>
                <a href="https://twitter.com/lhid">Twitter</a>
              </li>

              <li>
                <a href="http://pinterest.com/lebanh/">Pinterest</a>
              </li>

              <li>
                <a href="http://www.behance.net/lhid">Behance</a>
              </li>

              <li>
                <a href="https://dribbble.com/lhid">Dribbble</a>
              </li>
            </ul>
          </div>

          <div class="l-col l-col--1-12">
            <nav class="nav nav+ftr">
              <h5 class="is-visually-hidden">Footer Navigation</h5>

              <a class="btn btn--jump-up" data-scroll href="#top">
                <i class="ico ico--21 ico--arrow-up"></i>
                <span class="is-visually-hidden">Back to top</span>
              </a>
            </nav>
          </div>
        </div>
      </div><!-- /.l-constrain -->
    </footer>

    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','UA-34170107-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>