<footer class="l-footer" role="contentinfo">
  <div class="l-constrain">
    <h3 class="is-visually-hidden">
      Site Footer
    </h3>

    {% include modal.html %}

    <div class="l-row">
      <div class="l-col l-col--6-12">
        <p>
          <small>&copy; 
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> 
            <a href="/index.html">Alchemy UX + Branding</a>
          </small>
        </p>
      </div>

      <div class="l-col l-col--6-12">
        <h5 class="is-visually-hidden">Social</h5>

        <ul class="list list--row list--social">
          <li>
            <a href="https://www.linkedin.com/in/leban-hyde-60858723">
              <i class="ico ico--40 ico--linkedin"></i>
              <span class="is-visually-hidden">LinkedIn</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/lhid">
              <i class="ico ico--40 ico--twitter"></i>
              <span class="is-visually-hidden">Twitter</span>
            </a>
          </li>

          <li>
            <a href="http://www.behance.net/lhid">
              <i class="ico ico--40 ico--behance"></i>
              <span class="is-visually-hidden">Behance</span>
            </a>
          </li>

          <li>
            <a href="https://dribbble.com/lhid">
              <i class="ico ico--40 ico--dribbble"></i>
              <span class="is-visually-hidden">Dribbble</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/lhid">
              <i class="ico ico--40 ico--pinterest"></i>
              <span class="is-visually-hidden">GitHub</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <a class="jump-link-up" data-scroll href="#top">
      <i class="ico ico--64 ico--arrow-up"></i>
      <span class="is-visually-hidden">Back to top</span>
    </a>
  </div><!-- /.l-constrain -->
</footer>