<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title_meta }}</title>

  <meta name="description" content="{{ page.description }}" />
  <meta name="author" content="Alchemy by Leban Hyde. UX + Branding." />
  <meta name="contact" content="leban@alchemyindesign.com" />

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" href="/css/app.css" />

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Alchemy by Leban Hyde" href="/feed.xml" />

  <!-- Scripts -->
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- This fix for alternate rendering modes. http://www.sitepoint.com/html5-shim-ie-emulation-mode/ -->
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>