<!doctype html>
<html>
  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title_meta }}</title>

    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="Leban Hyde. Visual Alchemist | Codesmith | Brandologist" />
    <meta name="contact" content="leban@alchemyindesign.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/app.css" />

    <!-- Scripts -->
    <script src="/contact-files/jquery-1.js"></script>
    <script src="/contact-files/contact.js"></script>

    <!-- This fix for alternate rendering modes. http://www.sitepoint.com/html5-shim-ie-emulation-mode/ -->
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="body">
    <header class="l-header" id="top">
      <div class="l-constrain l-row">
        <div class="l-col l-col--8-12">
          <h1 class="logo kir">
            <a href="/index.html" title="Home">
              Alchemy by Leban Hyde | UX + Branding
            </a>
          </h1>

          <a class="btn btn--menu" href="#nav" aria-hidden="true">Menu</a>
        </div>

        <nav class="l-col l-col--4-12" id="nav" role="navigation">
          <h3 class="is-visually-hidden">Site Navigation</h3>

          <ol class="nav nav--main">
            <li>
              <a href="/index.html">About</a>
            </li>

            <li>
              <a href="/notes.html">Notes</a>
            </li>

            <li>
              <a href="/index.html#contact">Contact</a>
            </li>

            <li class="nav__back">
              <a href="#body">Close</a>
            </li>
          </ol>
        </nav>
      </div><!-- /.l-bound -->
    </header><!-- /.l-header -->
