<!doctype html>
<html>

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title_meta }}</title>

    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="Leban Hyde. Visual Alchemist | Codesmith | Brandologist" />
    <meta name="contact" content="leban@alchemyindesign.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/massimo.css" />
    <link rel="stylesheet" type="text/css" href="/css/modules.css" />
    <link rel="stylesheet" type="text/css" href="/css/state.css" />

    <!-- Scripts -->
    <script src="/contact-files/jquery-1.js"></script>
    <script src="/contact-files/contact.js"></script>

    <!-- This fix for alternate rendering modes. http://www.sitepoint.com/html5-shim-ie-emulation-mode/ -->
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body id="body">

    <!-- For the contact form. Will not work without it. -->
    <div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;">
      <iframe
        src="contact-files/sh72.html"
        style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0pt none; left: 0pt; top: 0pt;"
        title="AddThis utility frame"
        id="_atssh540">
      </iframe>
    </div>

    <!-- Closing tag is in footer.html -->
    <div class="l-wrap" id="top">

      <header class="l-header">

        <div class="l-bound">

          <div class="l-col l-col+7">
            <h1>
              <a href="/index.html" title="Home" class="logo ir">
                Leban Hyde. Visual Alchemist | Codesmith | Brandologist
              </a>
            </h1>
            <a class="menu dsp-3" href="#nav" aria-hidden="true">Menu</a>
          </div>

          <nav id="nav" class="l-col l-col+5" role="navigation">
            <h3 class="is-hidden">Site Navigation</h3>
            <ol class="l-row nav nav+main">
              <li class="l-col l-col+1"><a href="/work.html">Work</a></li>
              <li class="l-col l-col+1"><a href="/notes.html">Notes</a></li>
              <li class="l-col l-col+1"><a href="/about.html">About</a></li>
              <li class="l-col l-col+2"><a href="/contact.html">Contact</a></li>
              <li class="back"><a href="#body">Close</a></li>
            </ol>
          </nav>

        </div><!-- /.l-bound -->

      </header><!-- /.l-header -->
