/*! massimo.css v1.0.0 | MIT License */

/* ==========================================================================
   Web Fonts 
   ========================================================================== */

/*
 * Starts with web fonts to determine typographic expections.
 * Nuances in font design can affect the overall layout.
 * Adjust font-size to compensate for differences.
 * Adhere to the overall line-height--this is the baseline grid.
 */

/* Text | For body copy
   ========================================================================== */

@font-face {
  font-family: 'LiberationSerifRegular';
  src: url('../fonts/LiberationSerif-Regular-webfont.eot');
  src: url('../fonts/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
       url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
       url('../fonts/LiberationSerif-Regular-webfont.svg#LiberationSerifRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LiberationSerifItalic';
  src: url('../fonts/LiberationSerif-Italic-webfont.eot');
  src: url('../fonts/LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LiberationSerif-Italic-webfont.woff') format('woff'),
       url('../fonts/LiberationSerif-Italic-webfont.ttf') format('truetype'),
       url('../fonts/LiberationSerif-Italic-webfont.svg#LiberationSerifItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LiberationSerifBold';
  src: url('../fonts/LiberationSerif-Bold-webfont.eot');
  src: url('../fonts/LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LiberationSerif-Bold-webfont.woff') format('woff'),
       url('../fonts/LiberationSerif-Bold-webfont.ttf') format('truetype'),
       url('../fonts/LiberationSerif-Bold-webfont.svg#LiberationSerifBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Code
   ========================================================================== */

@font-face {
  font-family: 'M1mlight';
  src: url('../fonts/mplus-1m-light-webfont.eot');
  src: url('../fonts/mplus-1m-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mplus-1m-light-webfont.woff') format('woff'),
       url('../fonts/mplus-1m-light-webfont.ttf') format('truetype'),
       url('../fonts/mplus-1m-light-webfont.svg#M1mlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Display | For headings, callouts, and such.
   ========================================================================== */

/*
 * Left OswaldLight to extend typography as needed.
 * Currently using OswaldBook for all headings.
 */

/* @font-face {
  font-family: 'OswaldLight';
  src: url('../fonts/Oswald-Light-webfont.eot');
  src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Oswald-Light-webfont.woff') format('woff'),
       url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),
       url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'OswaldBook';
  src: url('../fonts/Oswald-Regular-webfont.eot');
  src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
       url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* ==========================================================================
   Base Layout (small desktop, laptop, 9" landscape) | For 1024 screen size
   ========================================================================== */

/*
 * 1. Sets root font-size for sizing with rem units.
 * 2. For sticky footer.
 */

html {
  font-size: 20px;
  height: 100%;
}

/*
 * 1. For sticky footer.
 * 2. Forces scrollbar to avoid jumpiness where content is light.
 * 3. Fallback for IE.
 * 4. Fallback for IE.
 * 5. Sets default font-size. Cascades through document.
 * 6. Sets default line-height. Cascades through document. Establishes baseline grid.
 * 7. Kills unwanted margins from UA style sheet.
 */

body {
  height: 100%; /* 1 */
  overflow-y: scroll; /* 2 */

  /*IE*/font-size: 20px; /* 3 */
  /*IE*/line-height: 30px; /* 4 */

  font-size: 1rem; /* 5 */
  line-height: 1.5rem; /* 6 */
  margin: 0; /* 7 */
}

dl,
dd,
dt,
ol,
p,
ul,
pre {
  /*IE*/margin-bottom: 30px;

  margin-top: 0;
  margin-bottom: 1.5rem;
}

/*
 * Prevents a double margin-bottom.
 */

dl ol,
dl ul {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OswaldBook', "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*IE*/margin: 0 0 30px 0;

  font-weight: normal;
  margin: 0 0 1.5rem 0;
}
h1 {
  /*IE*/font-size: 100px;
  /*IE*/line-height: 90px;
  /*IE*/letter-spacing: -2px;

  font-size: 5rem; /* 3 lines of text, aligns optically from baseline to cap height */
  line-height: 4.5rem; /* 3x line-height set on <body> */
  letter-spacing: -.1rem;
}
h2 {
  /*IE*/font-size: 60px;
  /*IE*/line-height: 60px;

  font-size: 3rem; /* 2 lines of text, aligns optically from baseline to cap height */
  line-height: 3rem; /* 2x of line-height set on <body> */
}
h3 {
  /*IE*/font-size: 20px;
  font-size: 1rem; /* Same as <body> */
}
h4 {
  /*IE*/font-size: 18px;
  font-size: .9rem;
}
h5 {
  /*IE*/font-size: 16px;
  font-size: .8rem;
}
h6 {
  /*IE*/font-size: 14px;
  font-size: .7rem;
}



/* Sticky Footer
   ========================================================================== */

.l-wrap {
  min-height: 100%;
}

.l-content {
  /*IE*/padding-bottom: 120px;

  padding-bottom: 6rem;
}

.l-footer {
  /*IE*/margin-top: -120px;
  /*IE*/padding-top: 30px;
  /*IE*/height: 120px;

  margin-top: -6rem;
  padding-top: 1.5rem;
  height: 6rem;
}



/* Page Sections
   ========================================================================== */

.l-header {
  /*IE*/height: 75px;
  height: 3.75rem;
  padding-top: 0;
}
  .l-header * {
    margin-bottom: 0;
  }

.l-header-int {
  /*IE*/padding-top: 60px;
  /*IE*/padding-bottom: 150px;

  padding-top: 3rem;
  padding-bottom: 7.5rem;
}



/* ==========================================================================
   Grid
   ========================================================================== */

.l-bound {
  /*IE*/width: 930px;
  /*IE*/padding-right: 40px;
  /*IE*/padding-left: 40px;

  width: 46.5rem; 
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
}

/*
 * For containers containing .l-col's
 * Uses Micro Clearfix to clear floats
 */

.l-row {}

/* 
 * Uses Micro Clearfix by Nicolas Gallagher 
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

  .l-bound:before,
  .l-bound:after,
  .l-row:before,
  .l-row:after {
    content: " ";
    display: table;
  }
  .l-bound:after,
  .l-row:after {
    clear: both;
  }
  .l-bound,
  .l-row {
    *zoom: 1;
  }

.l-col {
  /*IE*/margin-left: 30px;

  float: left;
  margin-left: 1.5rem;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
 * A container will be needed for a new row
 */

.l-col:first-child {
  margin-left: 0;
}

/* 
 * Extender class to reverse the float
 */

.l-col\+r {
  float: right;
}

/*
 * col + margin-left, etc. = 4rem
 */

.l-col\+1  { /*IE*/width: 50px; width: 2.5rem; }
.l-col\+2  { /*IE*/width: 130px; width: 6.5rem; }
.l-col\+3  { /*IE*/width: 210px; width: 10.5rem; }
.l-col\+4  { /*IE*/width: 290px; width: 14.5rem; }
.l-col\+5  { /*IE*/width: 370px; width: 18.5rem; }
.l-col\+6  { /*IE*/width: 450px; width: 22.5rem; }
.l-col\+7  { /*IE*/width: 530px; width: 26.5rem; }
.l-col\+8  { /*IE*/width: 610px; width: 30.5rem; }
.l-col\+9  { /*IE*/width: 690px; width: 34.5rem; }
.l-col\+10 { /*IE*/width: 770px; width: 38.5rem; }
.l-col\+11 { /*IE*/width: 850px; width: 42.5rem; }
.l-col\+12 { /*IE*/width: 930px; width: 46.5rem; }



/* ==========================================================================
   Remaining Media Queries
   ========================================================================== */

/* §Bold (larger desktop displays) | For 1287+ screen size
   ========================================================================== */

@media only screen and (min-width: 1286px) {

  html {
    font-size: 22px;
  }

  .l-bound {
    width: 52.5rem; /* = 1155px */
  }

  /*
   * col + margin-left, etc. = 4.5rem
   */

  .l-col\+1  { width: 3rem; }
  .l-col\+2  { width: 7.5rem; }
  .l-col\+3  { width: 12rem; }
  .l-col\+4  { width: 16.5rem; }
  .l-col\+5  { width: 21rem; }
  .l-col\+6  { width: 25.5rem; }
  .l-col\+7  { width: 30rem; }
  .l-col\+8  { width: 34.5rem; }
  .l-col\+9  { width: 39rem; }
  .l-col\+10 { width: 43.5rem; }
  .l-col\+11 { width: 48rem; }
  .l-col\+12 { width: 52.5rem; }

}



/* §Roman (9" portrait) | For 768 screen size 
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1009px) {

  html { font-size: 18px; }

  .l-bound {
    width: 39rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  /*
   * col + margin-left, etc. = 3.375rem
   */

  .l-col\+1  { width: 1.875rem; }
  .l-col\+2  { width: 5.25rem; }
  .l-col\+3  { width: 8.625rem; }
  .l-col\+4  { width: 12rem; }
  .l-col\+5  { width: 15.375rem; }
  .l-col\+6  { width: 18.75rem; }
  .l-col\+7  { width: 22.125rem; }
  .l-col\+8  { width: 25.5rem; }
  .l-col\+9  { width: 28.875rem; }
  .l-col\+10 { width: 32.25rem; }
  .l-col\+11 { width: 35.625rem; }
  .l-col\+12 { width: 39rem; }

}



/* §Light | For 480 screen size 
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* Back to 20px to optimize words/chararcters per line. Readability. */
  html { font-size: 20px; }

  .l-bound {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  /* Repeated styles are in last media query */

}



/* §Extra-Light | For 320 screen size 
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 479px) {

  html { font-size: 18px; }

  .l-bound {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  /* Repeated styles are in last media query */

}



/* §Condensed | For 240 screen size 
   ========================================================================== */

@media only screen and (max-width: 319px) {

  html { font-size: 16px; }

  .l-bound {
    padding-right: .75rem;
    padding-left: .75rem;
  }

  /* Repeated styles are in last media query */

}



/* §Light, §Extra-Light, §Condensed | For 768- screen size 
   ========================================================================== */

@media only screen and (max-width: 767px) {

  h1 {
    font-size: 3rem; /* 3x body */
    line-height: 3rem;
    letter-spacing: -.1rem;
  }

  h2 {
    font-size: 2rem; /* 2x body */
    letter-spacing: normal;
  }

  .l-header-int {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .l-bound {
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* one-column fluid layout */
  .l-col { margin-left: 0; }

  .l-col\+1,
  .l-col\+2,
  .l-col\+3,
  .l-col\+4,
  .l-col\+5,
  .l-col\+6,
  .l-col\+7,
  .l-col\+8,
  .l-col\+9,
  .l-col\+10,
  .l-col\+11,
  .l-col\+12 { width: 100%; }

}


