.agenda {
  margin: 1.4em 0 4.2em;
  padding: 0;
  list-style-type: none;
  & li {
    @extend .cf;
    margin: 1.4em 0;
  }
}

  .agenda__time {
    float: left;
    padding-right: 1.4rem;
    text-align: right;
    width: 33%;
  }

  .agenda__event {
    float: right;
    width: 66%;
  }