.ico {
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}



.ico--21 {
  height: 21px;
  width: 21px;
}



.ico--40 {
  height: 40px;
  width: 40px;
}



.ico--64 {
  height: 64px;
  width: 64px;
}



.ico--120 {
  height: 120px;
  width: 120px;
}