.list {
  padding: 0;
  & > li {
    list-style-type: none;
    margin: .7em 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}



.list--row {
  & > li {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}


.list--steps {
  counter-reset: item;
  margin: 0 0 1.5em;
  & > li {
    counter-increment: item;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1.5em;
    text-indent: -1.5em;
    &:before {
      content: counter(item) ".";
      display: inline-block;
      font-weight: bold;
      padding-right: 0.5em;
      text-align: right;
      width: 1.3em;
    }
  }
}



.list--bullets {
  padding: 0 0 0 1em;
  & > li {
    margin: 0;
    padding: 0 0 0 .4em;
  }
}