[id='modal'] {
  display: none;
  &:target {
    background-color: rgba(0,0,0,0.9);
    display: block;
    height: 100vh;
    left: 0;
    padding-top: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    & .modal__close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      &:hover {
        border-bottom: none;
      }
    }
  }
}