.panel {
  min-height: 100vh;
  width: 100%;
  padding: 2.8rem 0 4.2rem;
}

.panel--about {
  padding-top: 19vh;
}

.panel--skills {
  padding-top: 17vh;
}

.panel--work {
  padding-top: 20vh;
}

.panel--process {
  padding-top: 11vh;
}

.panel--notes {
  padding-top: 18vh;
}

.panel--contact {
  padding-top: 18vh;
}



@media only screen and (max-width: 30em) {
  .panel {
    min-height: 50vh;
    padding: 2.8rem 0 4.2rem;
  }
}