.panel {
  min-height: 100vh;
  padding: 2.8rem 0 4.2rem;
  position: relative;
  width: 100%;
}

.panel--about {
  padding-top: 19vh;
}

.panel--approach {
  padding-top: 8vh;
}

.panel--work {
  padding-top: 19vh;
}

.panel--process {
  padding-top: 7vh;
}

.panel--notes {
  padding-top: 18vh;
}

.panel--contact {
  padding-top: 18vh;
}



@media only screen and (max-width: 30em) {
  .panel {
    min-height: 50vh;
    padding: 2.8rem 0 4.2rem;
  }
}