---
layout: default
---

<article>
  <div class="panel panel--notes" role="banner">
    <div class="l-constrain panel__bd">
      <h1 class="txt-c">
        {{ page.title }}
      </h1>
    </div>
  </div>

  <div class="l-constrain">
    <div class="l-row section-minor">
      <div class="l-col l-col--4-12 section-minor">
        <p>
          <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
        </p>
      </div>

      <div class="l-col l-col--8-12">

        {{ content }}

        {% include comments.html %}

        <hr />

        <p>
          <a href="/notes.html">&#8592; Back to Notes</a>
        </p>
      </div><!-- /.l-col--8-12 -->
    </div><!-- /.l-row -->
  </div>
</article>