.l-banner {
  height: 100vh;
  position: relative;
  width: 100%;
}

.l-banner--about,
.l-banner--notes {
  padding-top: 35vh;
}

.l-banner--nst {
  padding-top: 30vh;
}

@media only screen and (max-width: 48.125em) {}

@media only screen and (max-width: 38.75em) {}