.l-banner {
  min-height: 24rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.l-banner--sldr {
  max-height: 80vh;
}

.l-banner--int {
  max-height: 75vh;
}

@media only screen and (max-width: 48.125em) {

  .l-banner {
    min-height: 19rem;
  }

}

@media only screen and (max-width: 38.75em) {

  .l-banner {
    min-height: 10rem;
  }

}