.l-footer {
  padding: 2rem 0 3rem;
  a[target='_blank'] {
    border-bottom: none;
  }
}

@media only screen and (max-width: 48em) {
  .l-footer {
    text-align: center;
    .l-col,
    .l-col-r {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .l-col--2-12,
    .l-col--1-12 {
      width: 33.333%;
    }
    .l-col--7-12 {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 30em) {
  .l-footer {
    .txt-r {
      text-align: center;
    }
    a[target='_blank'] {
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    .l-col--2-12 {
      width: 50%;
    }
    .l-col--1-12 {
      width: 33.333%;
    }
    .l-col--7-12 {
      width: 66.666%;
    }
  }
}