/**
 * Grid columns
 */

/* Base Class
   ========================================================================== */

.l-row {
  @extend .cf;
}

.l-col,
.l-col-r {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.l-col {
  float: left;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}



.l-col-r {
  float: right;
  &:first-child {
    padding-right: 0;
    & + .l-col {
      padding-left: 0;
      padding-right: 1.5rem;
    }
  }
  &:last-child {
    padding-left: 0;
  }
}



/* 12-Column
   ========================================================================== */

.l-col--1-12 {
  width: 8.333%
}
.l-col--2-12 {
  width: 16.666%
}
.l-col--3-12 {
  width: 25%;
}
.l-col--4-12 {
  width: 33.333%;
}
.l-col--5-12 {
  width: 41.665%
}
.l-col--6-12 {
  width: 50%;
}
.l-col--7-12 {
  width: 58.331%
}
.l-col--8-12 {
  width: 66.666%;
}
.l-col--9-12 {
  width: 75%;
}
.l-col--10-12 {
  width: 83.333%
}
.l-col--11-12 {
  width: 91.663%
}
.l-col--12-12 {
  width: 100%;
}



/* Media Queries
   ========================================================================== */

@media only screen and (max-width: 48em) {

  .l-col,
  .l-col-r {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .l-col-r {
    &:first-child {
      & + .l-col {
        padding-right: 1rem;
      }
    }
  }

}

@media only screen and (max-width: 30em) {

  .l-col,
  .l-col-r {
    padding: 0;
  }

  [class*='l-col--'] {
    width: 100%;
  }

}