/**
 * For offset left columns
 */

/* 12-Column
   ========================================================================== */

.l-pull--1-12 {
  margin-left: 8.333%
}
.l-pull--2-12 {
  margin-left: 16.666%
}
.l-pull--3-12 {
  margin-left: 25%;
}
.l-pull--4-12 {
  margin-left: 33.333%;
}
.l-pull--5-12 {
  margin-left: 41.665%
}
.l-pull--6-12 {
  margin-left: 50%;
}
.l-pull--7-12 {
  margin-left: 58.331%
}
.l-pull--8-12 {
  margin-left: 66.666%;
}
.l-pull--9-12 {
  margin-left: 75%;
}
.l-pull--10-12 {
  margin-left: 83.333%
}
.l-pull--11-12 {
  margin-left: 91.663%
}



[class*="l-pull--"] {
  &:last-child {
    padding-left: 1.5rem;
  }
}




/* Media Queries
   ========================================================================== */

@media only screen and (max-width: 48em) {

  [class*="l-pull--"] {
    margin-left: 0;
    width: 100%;
  }

}